body {
    background-color: lightgrey;
    font-family: 'Roboto Slab', serif;
}

h1 {
    color: blueviolet;
    text-align: center;
}

.friend {
    background-color: rgb(39, 145, 172);
    width: 100%;
    padding: 2px 2px 2px 2px;
    margin-left: 5px;
}

.friend h3 {
    text-transform: uppercase;
    text-align: center;
}

.btn {
    background-image: -webkit-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -moz-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -ms-linear-gradient(top, #eb94d0, #2079b0);
  background-image: -o-linear-gradient(top, #eb94d0, #2079b0);
  background-image: linear-gradient(to bottom, #eb94d0, #2079b0);
  font-size: 20px;
  border-radius: 12px;
}